@width: 200px;

.thumbnail{
    max-width: @width - 5;
    max-height: @width - 5;
}

.gallery {
  display: inline-block;
  height: @width;
  width: @width;
  padding: 0;
  margin: 5px;

}
.rollover {
  max-width: @width + 100;
  max-height: @width + 100;
  margin: -50px;
  position: absolute;
  box-shadow: 0px 0px 5px 5px darkgrey;
}