.thumbnail {
  max-width: 195px;
  max-height: 195px;
}
.gallery {
  display: inline-block;
  height: 200px;
  width: 200px;
  padding: 0;
  margin: 5px;
}
.gallery span {
  display: none;
  margin: -160px;
  margin-top: 200px;
  font-size: 20px;
}
.gallery span.display-span {
  display: inline-block;
  position: absolute;
  background-color: #104364;
  width: 320px;
  color: #1c94c4;
  z-index: 3;
  border-radius: 5px;
}
.rollover {
  position: absolute;
  z-index: 1;
  max-width: 300px;
  max-height: 300px;
  margin: -50px;
  box-shadow: 0px 0px 5px 3px #3a3a3a;
}
.hide-span {
  display: none;
  margin: 10px;
  z-index: 2;
}
