.thumbnail {
  max-width: 195px;
  max-height: 195px;
}
.gallery {
  display: inline-block;
  height: 200px;
  width: 200px;
  padding: 0;
  margin: 5px;
}
.rollover {
  max-width: 300px;
  max-height: 300px;
  margin: -50px;
  position: absolute;
  box-shadow: 0px 0px 5px 5px darkgrey;
}
