{% extends "base.html" %}

{% block subCSS %}
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.theme.css">
{% endblock %}
{% block main_content %}
    <h1>FORM DEMO</h1>
    {{ form }}
{% endblock %}

{% block right_column %}
{% endblock %}
{% block subJS %}
    <script type="text/javascript" src="/static/js/datepicker.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
{% endblock %}
