{% extends "base.html" %}
{% load staticfiles %}
{% block subCSS %}


{% endblock %}
{% block main_content %}
    <h1>Table</h1>
    <div id="table_container" data-page="{{ initial_page }}">
        Table goes here
    </div>
    <div id="button_container">
        <button class="btn btn-default" id="prev_page_button">&larr; Previous</button>
        <button class="btn btn-default" id="next_page_button">Next &larr;</button>
    </div>
{% endblock %}

{% block right_column %}
{% endblock %}
{% block subJS %}



{% endblock %}
