{% extends "base.html" %}
{% load staticfiles %}
{% block subCSS %}


{% endblock %}
{% block main_content %}
    <h1>Table</h1>
    <div id="table_container" data-page="{{ initial_page }}">
        {{ users }}
    </div>
    <div id="button_container">
        <button class="btn btn-default" id="prev_page_button">&larr; Previous</button>
        <button class="btn btn-default" id="next_page_button">Next &rarr;</button>
    </div>
{% endblock %}

{% block right_column %}
{% endblock %}
{% block subJS %}

<script type="text/javascript" src="{% static 'js/table.js' %}"></script>

{% endblock %}
